<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Either for sale or rent, Barroso Pumps offers the best selection of equipment and water pumps for all pumping applications, and the expertise needed to design and implement the most efficient solution for your project."/>
        <title>Barroso Pumps</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="icon" href="images/favicon.ico">
        <!-- Google Search Console -->
        <meta name="google-site-verification" content="nyFRKgr9vLpTq959trHeZKPOx5fFm9-seibKyytp4Kg" />
    </head>
    
    <body>
        <div class="top" id="top">
    		<div class="leftside">
    			<div class="lang dropdown show">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">LANGUAGE <span class="caret"></span></a>
    					<ul class="langsub dropdown-menu">
    						<li><a class="dropdown-item disabled" href="http://www.barrosopumps.com">English</a></li>
    						<li><a class="dropdown-item" href="http://www.barrosopumps.com/es.html">Español</a></li>
    					</ul>
    			</div>
    		</div>
    		<div class="rightside">
    			<div class="tel">
    				<a href="tel:+1787-230-2200">787-230-2200</a>
    			</div>
    			<div class="quote">
    				<a href="mailto:enrique@barrosopumps.com:">REQUEST A QUOTE</a>
    			</div>
    		</div>
    	</div>
    	<nav class="navbar">
    		<div class="container-fluid header">
    			<div class="logo">
    				<%= link_to root_url do %>
    				    <img src="http://www.barrosopumps.com/images/barroso-pumps-logo-header.svg" alt="Logo">
    				<% end %>
    			</div>
    				<div class="map">
    					<a href="https://www.google.com/maps/place/Barroso+Pumps/@18.4160002,-65.9808378,18z/data=!4m5!3m4!1s0x0:0x781f69d2446d8d0d!8m2!3d18.4158909!4d-65.9801481">
    						<span class="glyphicon glyphicon-map-marker"></span>
    					</a>
    				</div>
    			<div class="burger-wrapper">
    				<div class="burger-menu">
    					<a href="#brg-nav" data-toggle="collapse">
    						<span class="glyphicon glyphicon-menu-hamburger"></span>
    					</a>
    				</div>
    			</div>
    			<div role="navigation" class="nav navbar-nav">
    				<ul class="links">
    					<%= link_to about_url, class: "nav-link" do %>
    					    <div class="box"><li><strong>ABOUT US</strong></li></div>
    					<% end %>
    					<div class="dropdown">
    						<a class="nav-link" href="http://www.barrosopumps.com/buy.html"><div class="box"><li><strong>BUY</strong></li></div></a>
    						<div class="submenu" id="sub-buy">
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/cornell.html">Cornell</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/cornell/economical-multipurpose-pumps.html">Economical Multipurpose Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/clear-water-pumps.html">Clear Water Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/high-head-pumps.html">High Head Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/self-priming-pumps.html">Self-Priming Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/edge-end-gun-booster-pump.html">Edge End Gun Booster Pump</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/solids-handling-pumps.html">Solids Handling Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/slurry-pumps.html">Slurry Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/hot-oil-pumps.html">Hot Oil Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/cutter-pumps.html">Cutter Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/chopper-pumps.html">Chopper Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/cornell/immersible-pumps.html">Immersible Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/global-pump.html">Global Pump</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/global-pump/trash-pumps.html">Trash Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/global-pump/high-head-pumps.html">High Head Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/global-pump/wellpoint-pumps.html">Wellpoint Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/goulds.html">Goulds</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/goulds/sump-pumps.html">Sump Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/effluent-pumps.html">Effluent Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/sewage-pumps.html">Sewage Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/grinder-pumps.html">Grinder Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/packaged-systems.html">Packaged Systems</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/end-suction-pumps.html">End Suction Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/cast-iron-and-bronze-pumps.html">Cast Iron and Bronze Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/self-priming-pumps.html">Self-Priming Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/multi-stage-pumps.html">Multi-Stage Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/well-pumps.html">Well Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/goulds/jet-pumps.html">Jet Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/grindex.html">Grindex</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/grindex/drainage-pumps.html">Drainage Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/grindex/slurry-pumps.html">Slurry Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/grindex/inox-pumps.html">Inox Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/grindex/sludge-pumps.html">Sludge Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/grindex/utility-pumps.html">Ultility Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/grundfos.html">Grundfos</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/grundfos/pressure-boosting.html">Pressure Boosting</a>
    									<a href="http://www.barrosopumps.com/buy/grundfos/groundwater.html">Groundwater</a>
    									<a href="http://www.barrosopumps.com/buy/grundfos/multistage.html">Multistage</a>
    									<a href="http://www.barrosopumps.com/buy/grundfos/wastewater.html">Wastewater</a>
    									<a href="http://www.barrosopumps.com/buy/grundfos/fire-prevention.html">Fire Prevention</a>
    									<a href="http://www.barrosopumps.com/buy/grundfos/peerless.html">Peerless</a>
    									<a href="http://www.barrosopumps.com/buy/grundfos/dosing-pumps.html">Dosing Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/grundfos/grinder-pumps.html">Grinder Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/hydroflo.html">Hydroflo</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/hydroflo/vertical-turbine-pumps.html">Vertical Turbine Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/hydroflo/submersible-turbine-pumps.html">Submersible Turbine Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/hydroflo/dewatering-and-mining-pumps.html">Dewatering and Mining Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/hydroflo/propeller-and-mixed-flow-pumps.html">Propeller and Mixed Flow Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/karcher.html">K&auml;rcher</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/karcher/pressure-washers.html">Pressure Washers</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/keen.html">Keen</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/keen/grinder-pumps.html">Grinder Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/keen/solids-handling.html">Solids Handling</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/tsurumi.html">Tsurumi</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/tsurumi/trash-submersible-pumps.html">Trash Submersible Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/tsurumi/dewatering-submersible-pumps.html">Dewatering Submersible Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/tsurumi/trash-engine-driven-pumps.html">Trash Engine Driven Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/tsurumi/dewatering-engine-driven-pumps.html">Dewatering Engine Driven Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/walrus.html">Walrus</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/walrus/household-pumps.html">Household Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/walrus/multistage-pumps.html">Multistage Pumps</a>
    									<a href="http://www.barrosopumps.com/buy/walrus/inverter-control-systems.html">Inverter Control Systems</a>
    									<a href="http://www.barrosopumps.com/buy/walrus/booster-pumps.html">Booster Pumps</a>
    								</div>
    							</div>
    							<div class="nav-divider"></div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/buy/accessories.html">Accessories</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/buy/accessories/hoses.html">Hoses</a>
    									<a href="http://www.barrosopumps.com/buy/accessories/couplings.html">Couplings</a>
    									<a href="http://www.barrosopumps.com/buy/accessories/plugs.html">Plugs</a>
    									<a href="http://www.barrosopumps.com/buy/accessories/control-panels.html">Control Panels</a>
    									<a href="http://www.barrosopumps.com/buy/accessories/float-switches.html">Float Switches</a>
    								</div>
    							</div>
    						</div>
    					</div>
    					<div class="dropdown">
    						<a class="nav-link" href="http://www.barrosopumps.com/rent.html"><div class="box"><li><strong>RENT</strong></li></div></a>
    						<div class="submenu" id="sub-rent">
    							<h3>PUMPS</h3>
    							<a href="http://www.barrosopumps.com/rent/diesel-engine-trash-pumps.html">Diesel Engine Trash Pumps</a>
    							<a href="http://www.barrosopumps.com/rent/gas-engine-trash-pumps.html">Gas Engine Trash Pumps</a>
    							<a href="http://www.barrosopumps.com/rent/submersible-electric-trash-pumps.html">Submersible Electric Trash Pumps</a>
    							<a href="http://www.barrosopumps.com/rent/gas-engine-drainage-pumps.html">Gas Engine Drainage Pumps</a>
    							<a href="http://www.barrosopumps.com/rent/submersible-electric-drainage-pumps.html">Submersible Electric Drainage Pumps</a>
    							<a href="http://www.barrosopumps.com/rent/other-pumps.html">Other Pumps</a>
    							<div class="nav-divider"></div>
    							<h3>EQUIPMENT</h3>
    							<a href="http://www.barrosopumps.com/rent/accessories.html">Accessories</a>
    							<a href="http://www.barrosopumps.com/rent/cement-mixers.html">Cement Mixers</a>
    							<a href="http://www.barrosopumps.com/rent/pressure-washers.html">Pressure Washers</a>
    							<a href="http://www.barrosopumps.com/rent/electric-demolition.html">Electric Demolition</a>
    							<a href="http://www.barrosopumps.com/rent/compaction.html">Compaction</a>
    							<a href="http://www.barrosopumps.com/rent/air-compressors-and-pneumatic-tools.html">Air Compressors and Pneumatic Tools</a>
    							<a href="http://www.barrosopumps.com/rent/generators-light-towers-arrow-boards.html">Generators, Light Towers, Arrow Boards</a>
    							<a href="http://www.barrosopumps.com/rent/other-equipment.html">Other Equipment</a>
    						</div>
    					</div>
    					<div class="dropdown">
    						<a class="nav-link" href="http://www.barrosopumps.com/markets.html"><div class="box"><li><strong>MARKETS</strong></li></div></a>
    						<div class="submenu" id="sub-markets">
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/markets/agriculture.html">Agriculture</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/markets/agriculture/well-pumps.html">Well Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/agriculture/irrigation-centrifugal-pumps.html">Irrigation Centrifugal Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/agriculture/manure-slurry-pumps.html">Manure Slurry Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/agriculture/high-head-pumps.html">High Head Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/agriculture/self-priming-pumps.html">Self-Priming Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/agriculture/hydro-transport-pumps.html">Hydro-Transport Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/agriculture/cutter-pumps.html">Cutter Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/agriculture/turbine-pumps.html">Turbine Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/agriculture/end-gun-pumps.html">End Gun Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/markets/construction.html">Construction</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/markets/construction/trash-diesel-driven-pumps.html">Trash Diesel Driven Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/construction/trash-submersible-pumps.html">Trash Submersible Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/construction/dewatering-submersible-pumps.html">Dewatering Submersible Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/construction/wellpoint-pumps.html">Wellpoint Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/markets/fire-prevention.html">Fire Prevention</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/markets/fire-prevention/fire-systems.html">Fire Systems</a>
    									<a href="http://www.barrosopumps.com/markets/fire-prevention/centrifugal-pumps.html">Centrifugal Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/fire-prevention/turbine-pumps.html">Turbine Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/fire-prevention/split-horizontal-pumps.html">Split Horizontal Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/fire-prevention/end-suction-pumps.html">End Suction Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/markets/industrial.html">Industrial</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/markets/industrial/solids-handling-pumps.html">Solids Handling Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/industrial/slurry-pumps.html">Slurry Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/industrial/self-priming-pumps.html">Self-Priming Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/industrial/high-head-pumps.html">High Head Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/industrial/dosing-pumps.html">Dosing Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/industrial/coarse-abrasive-solids.html">Coarse Abrasive Solids</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/markets/mining-and-quarry.html">Mining and Quarry</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/markets/mining-and-quarry/slurry-pumps.html">Slurry Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/mining-and-quarry/clear-water-pumps.html">Clear Water Pumps</a>
    									<a href="http://www.barrosopumps.com/markets/mining-and-quarry/high-head-pumps.html">High Head Pumps</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/markets/potable-water.html">Potable Water</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/markets/potable-water.html#household">Household</a>
    									<a href="http://www.barrosopumps.com/markets/potable-water.html#building">Building</a>
    									<a href="http://www.barrosopumps.com/markets/potable-water.html#municipal">Municipal</a>
    								</div>
    							</div>
    							<div class="ex-dropdown">
    								<a href="http://www.barrosopumps.com/markets/wastewater.html">Wastewater</a>
    								<div class="ex-submenu">
    									<a href="http://www.barrosopumps.com/markets/wastewater.html#household">Household</a>
    									<a href="http://www.barrosopumps.com/markets/wastewater.html#building">Building</a>
    									<a href="http://www.barrosopumps.com/markets/wastewater.html#municipal">Municipal</a>
    								</div>
    							</div>
    						</div>
    					</div>
    					<a class="nav-link" href="http://www.barrosopumps.com/contact-us.html"><div class="box"><li><strong>CONTACT US</strong></li></div></a>
    				</ul>
    			</div>
    		</div>
    		<div id="brg-nav" class="collapse">
    			<ul class="brg-list">
    				<a href="http://www.barrosopumps.com/about-us.html"><li>ABOUT US</li></a>
    				<a href="http://www.barrosopumps.com/buy.html"><li>BUY</li></a>
    				<a href="http://www.barrosopumps.com/rent.html"><li>RENT</li></a>
    				<a href="http://www.barrosopumps.com/markets.html"><li>MARKETS</li></a>
    				<a href="http://www.barrosopumps.com/contact-us.html"><li>CONTACT US</li></a>
    				<a href="mailto:enrique@barrosopumps.com"><li>REQUEST A QUOTE</li></a>
    				<a href="http://www.barrosopumps.com/es.html"><li>ESPA&Ntilde;OL</li></a>
    			</ul>
    		</div>
    	</nav>
        <%= yield %>
    </body>
</html>
